@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: url(/assets/stars.png) no-repeat, black;
  background-position:  center;
  background-size: cover;
  color: whitesmoke; 
  font-family: 'roboto', sans-serif;
}

h1, h2 {
  font-family: 'oswald', sans-serif;
}

img {
  width: 2rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

header {
  background-color: rgb(38, 51, 75);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(24, 24, 28, 0.266);
  padding: 1rem;
}

.planet-links:not(.mobile) {
  display: none;
  gap: 1rem;
}

.nav-link {
  border: none;
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: .1rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #f5f5f5;
    bottom: -12%;
    left: 50%;
    transition: .4s;
  }

  &:hover {
    filter: brightness(.8);
  }
  
  &:hover::after {
    width: 100%;
    left: 0;
  }

}

.planet-links.mobile {
  margin-block: 1rem;
  padding: 1rem;
}
.planet-links.mobile .nav-link {
  margin-block: .5rem;
  text-align: center;
}

.planet-img {
  width: 20rem;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
}

.planet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-block: 5rem;
  padding-inline: 1rem;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }

}

.secondary-content {
  align-self: stretch;
  margin-block: 3rem;
}

.stat {
  border: 1px solid;
  color: rgb(222, 220, 216);
  margin-block: 1rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  border-radius: .2rem;
  background-color: #f5f5f524;
  

  p {
    text-transform: uppercase;
    font-weight: 600;
  }

  h2 {
    text-align: right;
  }
}

footer {
  font-size: .8rem;
  text-align: center;
  a {
    color: palegoldenrod;
    text-decoration: none;
    &:hover {
      color:coral;
    }
  }
}

@media screen and (min-width: 700px) {
  .mobile-menu-btn {
    display: none;
  }

  .planet-links:not(.mobile) {
    display: flex;
  }

  nav {
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  nav {
    flex-direction: row;
  }

  
  .secondary-content { 
    display: flex;
    gap: 2rem;
    justify-content: space-around;
  }

  .stat {
    flex-direction: column;

    h2 {
      margin-block-start: 0;
    }
  }

  .planet-info {
    max-width: 70rem;
    margin-inline: auto;
  }

  .main-content {
    display: flex;
    justify-content: space-between;

    .planet-img, .text {
      width: 50%;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 30rem;
    }
  }
}